<<<<<<< HEAD
@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('/cursor1.png'), auto;

}

body{
  background-color: #324b4e;
  /* cursor: url(/public/cursor.png),auto; */

}

=======
@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #324b4e;

}
>>>>>>> 5e16a8845e0c4f9aafc98323438a7affe6679b74
